{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container">
        <table  class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>transacted</th>
                </tr>
            </thead>

            <tbody >
                {% for row in historic %}
                    <tr>
                        <td>{{row.symbol}}</td>
                        <td>{{row.quantity}}</td>
                        <td>{{row.price | usd}}
                        <td>{{row.date}}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}